<div class="title">
    <h1>Bal harbor</h1>
</div>
<div class="content bg-white">
    <div class="wrapper wrapper2">
        <div class="clearfix">
            <section class="container">
                <ul class="soc a2a_kit a2a_kit_size_32 a2a_default_style">
                    <li><a href="#" class="a2a_button_facebook"><i class="fa fa-facebook-square"></i></a> </li>
                    <li><a href="#" class="a2a_button_pinterest"><i class="fa fa-pinterest-square"></i></a> </li>
                </ul>
                <h2>Example of the door name</h2>
                <dl>
                    <dt>Minimum Width: </dt>
                    <dd>{{product.Product.min_width}}"</dd>
                </dl>
                <dl>
                    <dt>Maximum Width: </dt>
                    <dd>{{product.Product.max_width}}"</dd>
                </dl>
                <dl>
                    <dt>Minimum Height: </dt>
                    <dd>{{product.Product.min_height}}"</dd>
                </dl>
                <dl>
                    <dt>Maximum Height:</dt>
                    <dd>{{product.Product.max_height}}"</dd>
                </dl>
                <dl>
                    <dt>Thickness Of Door: </dt>
                    <dd>{{product.Product.thickness}}"</dd>
                </dl>
                <dl>
                    <dt>Center Rail at: </dt>
                    <dd>{{product.Product.center_rail}}"</dd>
                </dl>
                <ul class="product-tabs clearfix">
                    <li><a href="#">3D Laminate</a> </li>
                    <li><a href="#">Finishes</a> </li>
                    <li><a href="#">Match Back</a> </li>
                </ul>
                <div class="product-content">
                    <div>
                        <div class="clearfix">
                            <ul class="sub-nav">
                                <li class="active"><a onclick="getShow();return false;">All</a> </li>
                                {%for item in categoryLam%}
                                    <li><a onClick="getLaminate({{item.LaminateCategory.id}}); return false;" class="categorylamin" href="#">{{item.LaminateCategory.name}}</a> </li>
                                {%endfor%}
                            </ul>
                            <div class="select-area">
                                {%for item in palette%}
                                    {%if item.Laminate.element == 'laminate'%}
                                        <span data-cat="{{item.Laminate.laminate_category_id}}"><img src="{{item.Laminate.image}}" alt="" width="65" height="75" class="imageRoom" data-cat="gloss"  data-name="{{item.Laminate.name}}"></span>
                                    {%endif%}
                                {%endfor%}
                            </div>
                            <div class="show-block">
                                <img src="{{palette.0.Laminate.image}}" alt="" width="230" height="290" id="laminateImageFinish">
                                <span id="laminateTextFinish">{{palette.0.Laminate.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="clearfix">
                            <ul class="sub-nav">
                                <li class="active"><a onclick="getShow();return false;">All</a> </li>
                                {%for item in categoryLam%}
                                      <li><a onClick="getLaminate({{item.LaminateCategory.id}}); return false;" class="categorylamin" href="#">{{item.LaminateCategory.name}}</a> </li>
                                {%endfor%}
                            </ul>
                            <div class="select-area">
                                {%for item in palette%}
                                {%if item.Laminate.element == 'finishes'%}
                                <span data-cat="{{item.Laminate.laminate_category_id}}"><img src="{{item.Laminate.image}}" alt="" width="65" height="75" class="imageRoomFinishes" data-cat="gloss"  data-name="{{item.Laminate.name}}"></span>
                                {%endif%}
                                {%endfor%}
                            </div>
                            <div class="show-block">
                                <img src="{{palette.0.Laminate.image}}" alt="" width="230" height="290" id="finishesImageFinish">
                                <span id="finishesTextFinish">{{palette.0.Laminate.name}}</span>
                            </div>
                        </div>
                    </div>
                    <div>
                        <div class="clearfix">
                            <ul class="sub-nav">
                                <li class="active"><a onclick="getShow();return false;">All</a> </li>
                                {%for item in categoryLam%}
                                <li><a onClick="getLaminate({{item.LaminateCategory.id}}); return false;" class="categorylamin" href="#">{{item.LaminateCategory.name}}</a> </li>
                                {%endfor%}
                            </ul>
                            <div class="select-area">
                                {%for item in palette%}
                                {%if item.Laminate.element == 'match_back'%}
                                <span data-cat="{{item.Laminate.laminate_category_id}}"><img src="{{item.Laminate.image}}" alt="" width="65" height="75" class="imageRoomMatch" data-cat="gloss"  data-name="{{item.Laminate.name}}"></span>
                                {%endif%}
                                {%endfor%}
                            </div>
                            <div class="show-block">
                                <img src="{{palette.0.Laminate.image}}" alt="" width="230" height="290" id="matchImageFinish">
                                <span id="matchTextFinish">{{palette.0.Laminate.name}}</span>
                            </div>
                        </div>

                    </div>
                </div>
                <h2>Style options</h2>
                <ul class="style clearfix">
                    {%for item in images%}
                    <li>
                        <img src="{{item.ProductImage.img}}" alt="" width="200" height="335">
                        <span>{{item.ProductImage.title}}</span>

                        <img src="{{item.ProductImage.sub_img}}" alt="" width="200" height="110">
                        <span>{{item.ProductImage.sub_title}}</span>
                    <li>
                    {%endfor%}
                </ul>
            </section>
            <aside class="side">
                <div class="example-slide-holder">
                    <h4>Example of Drawer Front</h4>
                    <div class="example-slide example-slide-1"
                         data-cycle-slides=".item"
                         data-cycle-fx=scrollHorz
                         data-cycle-timeout=2000
                         data-cycle-next=".example-slide-next-1"
                         data-cycle-prev=".example-slide-prev-1"
                         data-cycle-pager=".example-slide-pager-1"
                         data-cycle-swipe=true>
                        {%for item in images%}
                        <div class="item"> <img src="{{item.ProductImage.sub_img}}" alt="" width="200" height="110"></div>
                        {%endfor%}
                    </div>
                    <div class="example-slide-pager example-slide-pager-1"></div>
                    <div class="example-slide-next example-slide-next-1"><i class="fa fa-angle-right"></i></div>
                    <div class="example-slide-prev example-slide-prev-1"><i class="fa fa-angle-left"></i></div>
                </div>
                <div class="example-slide-holder">
                    <h4>Example of Drawer Front</h4>
                    <div class="example-slide example-slide-2"
                         data-cycle-slides=".item"
                         data-cycle-fx=scrollHorz
                         data-cycle-timeout=2000
                         data-cycle-next=".example-slide-next-2"
                         data-cycle-prev=".example-slide-prev-2"
                         data-cycle-pager=".example-slide-pager-2"
                         data-cycle-swipe=true>
                        {%for item in images%}
                        <div class="item"> <img src="{{item.ProductImage.img}}" alt="" width="200" height="335"></div>
                        {%endfor%}
                    </div>
                    <div class="example-slide-pager example-slide-pager-2"></div>
                    <div class="example-slide-next example-slide-next-2"><i class="fa fa-angle-right"></i></div>
                    <div class="example-slide-prev example-slide-prev-2"><i class="fa fa-angle-left"></i></div>
                </div>
                <h4>Profile</h4>
                <img src="{{product.Product.sub_img}}" alt="" width="100%"  >
                <p>{{product.Product.description}}</p>
            </aside>
        </div>
        <h3 class="prod-ttl">Similar Products</h3>
        <ul class="product-list clearfix">
            {%for item in advice%}
            <li>
                <a href="{{item.Product.id}}" class="image">
                    <img src="{{item.Product.image}}" alt="" width="172" height="242">
                    <span>{{item.Product.title}}</span>
                </a>
            </li>
            {%endfor%}
        </ul>
    </div>
</div>

<script type="text/javascript">
    jQuery(document).ready(function() {
        $(".open-nav").click(function () {
            $(".nav-holder").toggleClass('show');
            $(this).toggleClass('current');
        });
        $('.example-slide-1').cycle();
        $('.example-slide-2').cycle();
        $('.product-tabs').tabs('.product-content > div');
    });
    (function($){
        $(window).load(function(){
            $(".select-area").mCustomScrollbar({
                axis:"y",
                theme:"dark-thin"
            });
        });
    })(jQuery);
</script>

<script src="../../js/custom/product-content.js"></script>