<div style="display: none">
    <div class="popup" id="login">
        <div class="form-holder popup-form">
            <form action="/users/login" method="post">
                <fieldset>
                    <span class="ttl-line center">Feel in following fields below to login</span>
                    <div class="row">
                        <input type="text" name="data[User][username]" class="txt" placeholder="Name" required>
                        <i class="fa fa-user"></i>
                    </div>
                    <div class="row">
                        <input type="password" name="data[User][password]" class="txt txt-pass" placeholder="Password" required>
                        <i class="fa fa-unlock-alt"></i>
                        <a href="#" class="forgot-pass">I Forgot<br/>password</a>
                    </div>
                    <div class="row">
                        <span class="apply">Become a wholesale member - <strong><a href="#"> Apply here</a></strong></span>
                    </div>
                    <div class="row">
                        <input type="submit" value="submit" class="sbm" name="">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>