
<!--for gallery slide-show-->
<div style="margin-top: -9999px;" id="doska">
    <div id="gallery" class="gallery-popup center" style="position: relative;">
        <div class="gallery-slider2 upImg"
             data-cycle-slides=".item"
             data-cycle-fx=scrollHorz
             data-cycle-timeout=0
             data-cycle-next=".gallery-slider-next"
             data-cycle-prev=".gallery-slider-prev"
             data-cycle-center-horz=true
             data-cycle-center-vert=true
             data-cycle-swipe=true >
            <div class="gallery-slider-prev"><i class="fa fa-angle-left"></i></div>
            <div class="gallery-slider-next"><i class="fa fa-angle-right"></i></div>
            <img src="" alt="" style="opacity: 0;">
            <div class="gallery-box">

            </div>
        </div>
    </div>
</div>

<script>
//    $('.gallery-slider').cycle();
</script>