<div class="main-contact-info">
    <div class="block">
        <h2>{{contact_main.CompanyContact.title}}</h2>
        <dl class="addr">
            <dt><i class="fa fa-map-marker"></i></dt>
            <dd>{{contact_main.CompanyContact.address}}</dd>
        </dl>
        <dl class="addr">
            <dt><i class="fa fa-phone"></i></dt>
            <dd>{{contact_main.CompanyContact.phone}}<br/>{{contact_main.CompanyContact.phone_2}}</dd>
        </dl>
        <dl class="addr">
            <dt><i class="fa fa-envelope"></i></dt>
            <dd><a href="#">{{contact_main.CompanyContact.email}}</a></dd>
        </dl>
        <dl class="addr">
            <dt><i class="fa fa-fax"></i></dt>
            <dd>{{contact_main.CompanyContact.fax}}<br/>{{contact_main.CompanyContact.fax_2}}</dd>
        </dl>
    </div>
</div>

<div class="content bg-white">
    <div class="wrapper">
        <h2>Contact</h2>
        <ul class="addr-list">
            {% set count = 0 %}
            {%for item in contacts%}
                <li data-id="{{ loop.index - 1 }}">
                    <input type="hidden" class="lat" value="{{item.CompanyContact.lat}}">
                    <input type="hidden" class="lng" value="{{item.CompanyContact.lng}}">
                    <span class="opener">{{item.CompanyContact.address}}&nbsp;<i class="fa fa-map-marker"></i><i class="fa fa-envelope"></i><i class="fa fa-phone"></i><i class="fa fa-fax"></i></span>
                    <div class="slide">
                        <div class="clearfix">
                            <div class="addr-hold">
                                <dl class="addr">
                                    <dt><i class="fa fa-map-marker"></i></dt>
                                    <dd>{{item.CompanyContact.address}}</dd>
                                </dl>
                                <dl class="addr">
                                    <dt><i class="fa fa-phone"></i></dt>
                                    <dd>{{item.CompanyContact.phone}}<br/>{{item.CompanyContact.phone_2}}</dd>
                                </dl>
                                <dl class="addr">
                                    <dt><i class="fa fa-envelope"></i></dt>
                                    <dd><a href="#">{{item.CompanyContact.email}}</a></dd>
                                </dl>
                                <dl class="addr">
                                    <dt><i class="fa fa-fax"></i></dt>
                                    <dd>{{item.CompanyContact.fax}}<br/>{{item.CompanyContact.fax_2}}</dd>
                                </dl>
                            </div>
                            <div class="map">
                                <div style=" width: 100%; height: 120px;" id="map_{{count}}"></div>
                            </div>
                        </div>
                    </div>
                </li>
                {% set count = count + 1 %}
            {% endfor %}
        </ul>
    </div>
</div>

<div class="contact contact-page clearfix">
    <div class="map-block">
        <input type="hidden" class="lat" value="{{form_title.CompanyContact.lat}}">
        <input type="hidden" class="lng" value="{{form_title.CompanyContact.lng}}">
        <div style=" width: 100%; height: 541px;" id="map_contact"></div>
    </div>
    <div class="form-block">
        <div class="form-holder">
            <form action="" method="post">
                <fieldset>
                    <div class="clearfix">
                        <div class="col">
                            <div class="row">
                                <input type="text" name="ContactForm[name]" class="txt" placeholder="Name" required>
                                <i class="fa fa-user"></i>
                            </div>
                        </div>
                        <div class="col col-r">
                            <div class="row">
                                <input type="email" name="ContactForm[email]" class="txt" placeholder="Email" required>
                                <i class="fa fa-envelope"></i>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <input type="text" name="ContactForm[subject]" class="txt" placeholder="Subject" required>
                        <i class="fa fa-list-ul"></i>
                    </div>
                    <div class="row">
                        <textarea placeholder="Message" name="ContactForm[message]"required></textarea>
                        <i class="fa fa-pencil"></i>
                    </div>
                    <div class="row">
                        <input type="submit" name="" class="sbm" value="submit">
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
</div>


<script type="text/javascript">
    jQuery(document).ready(function() {
        $(".open-nav").click(function () {
            $(".nav-holder").toggleClass('show');
            $(this).toggleClass('current');
        });

        $('ul.addr-list').accordion({
            active: 1,
            autoHeight: 0,
            header: ".opener",
            collapsible: true,
            heightStyle: "content",
            event: "click"
        });
    });
</script>

<script>
    $(document).ready(function(){

        $(document).on('click', '.addr-list li', function(){
            var lat = $(this).children('.lat').val(),
                lng = $(this).children('.lng').val(),
                num = $(this).attr('data-id');
                google.maps.event.addDomListener(window, 'load', initialize(lat, lng, num));
        });

        var $stateActive = '.ui-state-active';

        // First map
        var  firstLat =  $($stateActive).siblings('.lat').val(),
             firstLng = $($stateActive).siblings('.lng').val(),
             firstNum = $($stateActive).parent('li').attr('data-id');
        google.maps.event.addDomListener(window, 'load', initialize(firstLat, firstLng, firstNum));

        // Contact map
        var firstLat = $('#map_contact').siblings('.lat').val(),
            firstLng = $('#map_contact').siblings('.lng').val();
        google.maps.event.addDomListener(window, 'load', initialize(firstLat, firstLng, 'contact'));

        var geocoder;
        var map;
        var address = 'addres';

        function initialize(lat, lng, i) {
            geocoder = new google.maps.Geocoder();
            var latlng = new google.maps.LatLng(lat, lng);
            var myOptions = {
                zoom: 16,
                center: latlng,
                mapTypeControl: true,
                mapTypeControlOptions: {
                    style: google.maps.MapTypeControlStyle.DROPDOWN_MENU
                },
                navigationControl: true,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };

                map = new google.maps.Map(document.getElementById("map_" + i), myOptions);

            if (geocoder) {
                geocoder.geocode({
                    'address': address
                }, function(results, status) {
                    if (status == google.maps.GeocoderStatus.OK) {
                        if (status != google.maps.GeocoderStatus.ZERO_RESULTS) {
                            map.setCenter(results[i].geometry.location);

                            var infowindow = new google.maps.InfoWindow({
                                content: '<b>' + address + '</b>',
                                size: new google.maps.Size(150, 50)
                            });

                            var marker = new google.maps.Marker({
                                position: results[i].geometry.location,
                                map: map,
                                title: address
                            });
                            google.maps.event.addListener(marker, 'click', function() {
                                infowindow.open(map, marker);
                            });

                        } else {
                            alert("No results found");
                        }
                    }
                });
            }
        }
    });
</script>

<script src="js/jquery.accordion.js"></script>
